body{
	background:black;
	color:white;
	font-family:"Della Respira" serif;
	font-size:20
}

a{
	color:white;
}

a:hover{
	color:yellow;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.indent{
	margin-left:30px;
}

.MainTitle{
	font-family:"Della Respira" serif;
	color:yellow;
	font-size:40;
}

.note{
	font-family:"Della Respira" serif;
	font-size:small;
	color:white;
}

.signature{
	font-family:"Comic Sans MS", cursive, sans-serif;
	font-style: italic;
	font-size:xx-large;
	color:yellow;
}

.Subtitle{
	font-family:"Della Respira" serif;
	color:yellow;
	font-style:italic;
	font-size:40;
}

.crop-img{
  max-height:100%;
  max-width:100%;
  margin-bottom: 10px;
}

.large-img{
  max-height:600px;
  max-width:90%;
  margin-top: 10px;
}

h1{
	font-family:"Della Respira" serif;
}

h2{
	font-family:"Della Respira" serif;
}

h3{
	font-family:"Della Respira" serif;
	text-align:center;
}

